.broken-radar-text{
  background-color: rgba(0, 0, 0, .75);
  position: absolute;
  width: 100%;
  height: 75px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.key{
  display: inline-block;
  float: right;
  height: 100%;
}

.key-item{
  margin-left: 10px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.key-item-rain{
  width: 160px;
}

.key-item-mix{
  width: 115px;
}

.key-item-snow{
  width: 125px;
}

.key-color-group{
  width: 100%;
  height: 30%;
  display: table;
}

.key-color{
  display: table-cell;
}

.key-label{
  width: 100%;
  height: 70%;
  font-size: 30px;
  line-height: 30px;
  margin-top: 10px;
  margin-left: 2px;
}

.radar-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Asegura que la barra de título esté por encima del mapa del radar y ajusta el estilo */
#radar-page .page-title-bar,
#zoomed-radar-page .page-title-bar {
  position: relative;
  z-index: 10;
  text-align: right; /* Mueve el texto a la derecha */
  padding-right: 28px; /* Añade espacio a la derecha */
  padding-left: 0; /* Elimina el espacio a la izquierda */
}

#radar-page .page-title-bar div,
#zoomed-radar-page .page-title-bar div {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  padding: 0 15px; /* Relleno horizontal para el efecto de etiqueta */
  border-radius: 5px; /* Bordes redondeados */
  display: inline-block; /* Ajusta el fondo al tamaño del texto */
}